.img {
    width: 50rem;
    display: block;
    margin: 0 auto;
    overflow-y: hidden;
}
.censored {
    z-index: 1;
    background-color: black;
    position: absolute;
    bottom: 0.7rem;
    height: 9rem;
    width: 50rem;
    text-align: center;
    font-family: Bahnschrift, serif;
    color: white;
}

.censored > h2 {
    color: white;
    font-size: 3rem;
    font-width: bold;
    letter-spacing: 15px;
}
.upperCensored {
    z-index: 1;
    background-color: black;
    position: absolute;
    top: opx;
    right: 0px;
    height: 2.1rem;
    width: 50rem;
}
