.img {
    width: 80vh;
    display: block;
    margin: 0 auto;
    overflow-y: hidden;
}
.censored {
    z-index: 1;
    background-color: black;
    position: absolute;
    bottom: 0.1rem;
    height: 3rem;
    width: 40rem;
    text-align: center;
    font-family: Bahnschrift, serif;
    color: white;
    width: 100%;
}

.censored > h2 {
    color: white;
    font-size: 3rem;
    font-width: bold;
    letter-spacing: 15px;
}
.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
.popupMain {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 5px;
}
.popupMain > h1 {
    text-align: center;
}
