.img {
    width: 80vh;
    display: block;
    margin: 0 auto;
    overflow-y: hidden;
}
.censored {
    z-index: 1;
    background-color: black;
    position: absolute;
    bottom: 0.1rem;
    height: 3rem;
    width: 40rem;
    text-align: center;
    font-family: Bahnschrift, serif;
    color: white;
    width: 100%;
}

.censored > h2 {
    color: white;
    font-size: 3rem;
    font-width: bold;
    letter-spacing: 15px;
}
